/* Common stuffs */
html,body{
    margin:0;
    padding:0;
    color:#292929;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.09em;
}

.container{
    width:85%;
    max-width:1920px;
    height:100vh;
    margin: 0 auto;
}

.wrapper{
    background-image: url('../images/landing.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

nav{
    display: flex;
    padding: 1.5em;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 85%;
}



.nav-links{
    display: flex;
    padding: 1.5em;
    align-items: center;
    width:25%;
    margin-right:4em;
    justify-content: space-between;
}
.nav-links li{
    list-style: none;
}
.nav-links li a, .logo span a{
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    line-height: 27px;
}

.sticky{
    background-color: #fff;
}

/* Landing page */

.landing{
    display: flex;
    height:100vh;
    justify-content: space-between;
    padding-top: 19em;
}

.landing-text{
width:70%;
}

.main-text{
    font-size: 5rem;
    font-weight:800;
    margin-bottom: 0.2em;
}

.sub-text{
    font-size:1.6rem;
    width:70%;
    font-family: 'IBM Plex Serif';
}
.landing-social{
    /* margin-top:3em;  commenting for now. Not sure whether this should be aligned with main heading or not*/
}
.landing-social>div>img{
    width:3em;
    border: 2px solid #292929;
    border-radius: 50%;
    cursor:pointer;
}
.landing-social{
    height:20em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.landing-btns{
    width:50%;
    display: flex;
    justify-content: space-between;
    margin-top:4em;
}

.landing-btns button{
    border: 3px solid #292929;
    padding:1em;
    width:45%;
    font-weight: 600;
    font-size:1.2rem;
    letter-spacing: 0.04em;
    font-family:inherit;
    cursor: pointer;
}
.primary-btn{
    background-color: #292929;
    color:#fff;
}

.secondary-btn{
    background-color: rgba(255,255,255,0);
}

.scroll-text{
    position: absolute;
    right:7%;
    bottom:2em;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}
.scroll-text span{
    transform: rotate(90deg);
    font-weight:700;
}

/* Works page */

.works{
    display: flex;
}

.work-pic{
    margin: 0 1.5em;
}
.work-pic img{
    width:90%;
}
.work-dots{
    display: flex;
    flex-direction: column;
    margin-top:20%;
}

.work-dots div{
    width:1em;
    height:1em;
    border:2px solid #292929;
    border-radius: 50%;
    margin-top:1em;
}

.active{
    background-color: #292929;
}